aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
anywidget==0.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astropy==7.1.1
astropy-iers-data==0.2025.11.10.0.38.31
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.2
bleach==6.2.0
blinker==1.9.0
bqplot==0.12.45
branca==0.8.2
build==1.4.3
cachetools==6.2.6
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.1
click==8.3.1
colorama==0.4.6
comm==0.2.3
comtypes==1.4.13
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.17
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
duckdb==1.5.1
email-validator==2.3.0
et_xmlfile==2.0.0
eval_type_backport==0.3.1
executing==2.2.1
fastapi==0.115.12
fastapi-cli==0.0.24
fastapi-cloud-cli==0.16.1
fastar==0.10.0
fastjsonschema==2.21.2
filelock==3.20.3
Flask==3.1.3
flask-cors==6.0.2
folium==0.20.0
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.2.0
gdown==6.0.0
geojson==3.2.0
geopandas==1.1.3
gitdb==4.0.12
GitPython==3.1.46
greenlet==3.3.2
grpcio==1.76.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.9.0
idna==3.11
iniconfig==2.3.0
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.0.1
ipyleaflet==0.20.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.11.3
ipyvuetify==1.11.3
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jplephem==2.23
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-leaflet==0.20.0
jupyter-lsp==2.3.0
jupyter-rfb==0.5.4
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
jupytext==1.18.1
kaleido==1.2.0
kiwisolver==1.4.9
langchain==0.1.20
langchain-classic==1.0.1
langchain-community==0.0.38
langchain-core==0.1.53
langchain-experimental==0.0.58
langchain-localai==1.0.0
langchain-text-splitters==0.0.2
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.1.147
lark==1.3.0
leafmap==0.61.1
libcst==1.8.5
llvmlite==0.45.1
Logbook==1.9.2
logistro==2.0.1
maplibre==0.3.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.4
mpmath==1.3.0
multidict==6.7.1
mypy_extensions==1.1.0
narwhals==2.16.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
notebook==7.4.7
notebook_shim==0.2.4
numba==0.62.1
numpy==2.2.4
openai==0.28.1
openpyxl==3.1.5
orjson==3.11.7
ormsgpack==1.12.2
outcome==1.3.0.post0
p2j==1.3.2
packaging==26.1
pandas==2.2.3
pandas-stubs==3.0.0.260204
pandocfilters==1.5.1
parso==0.8.5
pillow==12.0.0
platformdirs==4.5.0
plotly==6.5.2
pluggy==1.6.0
poliastro==0.7.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.1
psygnal==0.15.1
pure_eval==0.2.3
pyarrow==23.0.0
pycparser==2.23
pydantic==2.11.3
pydantic-extra-types==2.11.2
pydantic-settings==2.8.1
pydantic_core==2.33.1
pydeck==0.9.1
pyDOE2==1.3.0
pyerfa==2.0.1.5
Pygments==2.19.2
pyogrio==0.12.1
pyparsing==3.2.5
pyproj==3.7.2
pyproject_hooks==1.2.0
PySocks==1.7.1
pystac==1.14.3
pystac-client==0.9.0
pytest==9.0.3
pytest-timeout==2.4.0
python-box==7.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
PyVISA==1.15.0
pywin32==311
pywinpty==3.0.2
PyYAML==6.0.3
PyYAML-ft==8.0.0
pyzmq==27.1.0
referencing==0.37.0
regex==2026.2.28
Represent==2.1
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rich-toolkit==0.19.7
rignore==0.7.6
rpds-py==0.27.1
RsInstrument==1.120.1
ruptures==1.1.10
rush==2021.4.0
safetensors==0.7.0
schedule==1.2.2
scikit-learn==1.8.0
scipy==1.16.3
scipy-stubs==1.17.1.3
scooby==0.11.2
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.57.0
setuptools==80.9.0
sgp4==2.25
shapely==2.1.2
shellingham==1.5.4
sidecar==0.8.0
simplejpeg==1.9.0
simplejson==4.1.1
six==1.17.0
skyfield==1.54
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
spacetrack==1.4.0
SQLAlchemy==2.0.48
stack-data==0.6.3
starlette==0.46.2
streamlit==1.54.0
sympy==1.14.0
tenacity==8.5.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
traittypes==0.2.3
transformers==5.5.0
typer==0.24.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
uuid_utils==0.14.1
uvicorn==0.34.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.7
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.14
xxhash==3.6.0
xyzservices==2026.3.0
yarl==1.23.0
zstandard==0.25.0
